/*--- RESET/NORMALIZE ---*/
body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type="radio"], input[type="checkbox"] {margin:0}
legend {padding:0}
fieldset, ul, ol {padding:0;margin:0}
ul, ol {list-style:none}
body {line-height:1}
main, figure, figcaption, img {display:block} /*--- <main> for IE 11 ---*/
img {max-width:100%;height:auto}
a {text-decoration:none}
fieldset {border:0}
input, textarea, select, button {display:block;max-width:100%;font-family:inherit;font-size:inherit;color:inherit}
label {display:table}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {-webkit-appearance:none} 
/*--- for Safari (add/remove types as needed) ---*/
button {line-height:inherit}
button::-moz-focus-inner {border:0} /*--- for Firefox ---*/
html {text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:1.25em} /*--- optional base font size ---*/

h1 {
    font-size: 3.5em;
    color: #2B283A;
    margin-bottom: 20px;
}

h2.subtitle {
    font-size: .9em;
}

body {    
    width: 600px;
    margin:60px auto;
    text-align: center;
    background-color: #dce7fc;
    font-family: 'Lato', sans-serif;;
}

#container {
    background: rgb(178, 206, 243);    
    min-width: 100px;
    border: 5px solid white;
    border-radius: 15px;
}

#top {
    height: 280px;        
    background: rgba(240,33,148,1);
   /* background: linear-gradient(42deg, rgba(240,33,148,1) 0%, rgba(93,97,240,1) 100%);*/ 
    background-image: url(images/image.png);    
    background-size: cover;       
    border-radius: 11px 11px 0px 0px;
}

#bottom {
    height: 280px;
    background-color: #232E39;
    border-radius: 0px 0px 11px 11px;
    padding-bottom: 10px;
}

.subtitle {
    color:rgb(238, 236, 245);
}

.results{
    color: #cecece;    
}

header {
    padding-top: 50px;
    color: #fff;
    font-weight: 800;
}

#input-el {
    max-width: 40%;    
    margin: 40px auto;
    font-size: 5.5em;
    font-weight: 800;
    vertical-align: middle;
    color: white;
    background: none;
    border: none;    
    outline: none;
    text-align: center;
    
}

::placeholder { 
    color: rgba(248, 238, 243, 0.685);
    font-size: 2rem;
}

#subheadings{
    padding-top: 45px;
}

#convert-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    margin: -25px;   
    color: #fff;
    background-color:rgba(61, 66, 204, 0.644);
    font-weight: 800;
    padding: 16px 20px 16px 20px;   
    border: 1px solid rgb(61, 66, 204);
    border-radius: 3px;
    letter-spacing: .1em;
    font-size: .8em;
        
}
#convert-btn:hover {
    color: #fff;
    background-color:rgb(61, 66, 204);
}
