/******************************************
Author: Gabriel Martires
Scrimba: Unit Converter Solo Project
*******************************************/
/*--- RESET/NORMALIZE ---*/
body, h1, h2, h3, h4, h5, h6, figure, pre, dl, dd, blockquote, input[type="radio"], input[type="checkbox"] {margin:0}
legend {padding:0}
fieldset, ul, ol {padding:0;margin:0}
ul, ol {list-style:none}
body {line-height:1}
main, figure, figcaption, img {display:block} /*--- <main> for IE 11 ---*/
img {max-width:100%;height:auto}
a {text-decoration:none}
fieldset {border:0}
input, textarea, select, button {display:block;max-width:100%;font-family:inherit;font-size:inherit;color:inherit}
label {display:table}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {-webkit-appearance:none} 
/*--- for Safari (add/remove types as needed) ---*/
button {line-height:inherit}
button::-moz-focus-inner {border:0} /*--- for Firefox ---*/
html {text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:1.25em} /*--- optional base font size ---*/

h1 {
    font-size: 1em;
    color: #fff;
    font-weight: 800;
    font-family: Inter;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: center;
    padding-top: 40px;

}

h2.subtitle {
    font-size: .9em;
}

body {   
    max-width: 550px;
    margin: 60px auto;
    text-align: center;
    background-color: #dce7fc;
    font-family: 'Lato', sans-serif;;
}

#container {
    min-width: 300px;
    border: 5px solid white;
}


#top {
    width: 100%;    
    height: 300px;    
    background: #6943ff;
    background-image: url(images/school-supplies.png);       
    background-size: cover;
    
}



#bottom {
    width: 100%;
    background-color: #f4f4f4;
    padding: 10px 0px 2px 0px;
}
.results-area {    
    max-width: 90%;
    height: 80px;
    background-color: #ffffff;
    padding: 5px 20px;
    margin: 10px 10px;
}
.subtitle {
    color:#5a5478;
}

.results{
    color: #4e4e4e;    
}

#input-el {
    max-width: 30%;    
    margin: 10px auto;
    font-size: 5.5em;
    font-weight: 800;
    vertical-align: middle;
    color: white;
    background: none;
    border: 2px solid #B295FF;    
    outline: none;
    text-align: center;   
}

::placeholder { 
    color: rgba(248, 238, 243, 0.685);
    font-size: 2rem;
}

#convert-btn {
    width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    margin: 0px;   
    color: #3c3d3d;
    background-color:#ffffffbd;
    font-weight: 800;
    padding: 16px 20px 16px 20px;   
    border: 1px solid #FFF;
    border-radius: 3px;
    letter-spacing: .1em;
    font-size: .8em;       
}

#convert-btn:hover {
    color: #3c3d3d;
    background-color:rgb(255, 255, 255);
}

#reset-btn {   
    width: 130px; 
    display: inline-flex;
    justify-content: center;
    align-items: right; 
    margin: 5px;   
    color: #3c3d3d;
    background-color:#ffffffbd;
    font-weight: 800;
    padding: 16px 20px 16px 20px;  
    border: 1px solid #FFF;
    border-radius: 3px;
    letter-spacing: .1em;
    font-size: .8em;
}

#reset-btn:hover {
    color: #3c3d3d;
    background-color:rgb(255, 255, 255);
}

